/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #bbe4f7;
  background-color: #32657c;
  font-family: 'Klavika-web', sans-serif;
  font-size: 20px;
}

.container {
  flex: 1;
  padding: 20px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.footerP {
  margin: 0;
}

/* Footer Styles */
.footer {
  background-color: #023047;
  padding: 20px;
  text-align: left;
  color: #fb8500;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container div {
  flex: 1;
  margin: 0 10px;
}

/* Social Media Buttons */
.social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 90vmin;
}

.social-buttons .social-icon {
  margin-left: 10px;
}

.social-buttons .social-icon img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 2px solid white;
  background-color: #023047;
  transition: all 0.3s ease-in-out;
}

.social-buttons .social-icon img:hover {
  transform: scale(1.1);
  border-color: #fb8500;
  background-color: #fb8500;
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  background-color: #023047;
  width: 100%;
  z-index: 1000;
}

.navbar-brand img {
  max-height: 200px;
  width: auto;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Projects Page Styles */
.projects-page {
  display: flex;
  margin-left: 250px;
  width: calc(100% - 250px);
}

.projects-page .container {
  flex: 1;
  margin-top: 30px;
}

/* Projects Navbar */
.projects-page .fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #343a40;
  border-right: 2px solid #444;
  z-index: 102;
}

.projects-page .ProjectNavbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projects-page .ProjectNav-item {
  margin-bottom: 15px;
}

.projects-page .ProjectNav-link {
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-page .ProjectNav-link:hover {
  background-color: #495057;
  color: #fff;
}

/* Scrollable Project Entries */
.projects-page .project-entries-container {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  gap: 10px;
  padding: 0;
  grid-auto-rows: minmax(250px, auto);
}

/* Project Card Styles */
.project-card {
  text-align: center;
  border: 2px solid #023047;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project-card img {
  width: 90%;
  margin-top: 10px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  color: #0c3d55;
  margin-top: 10px;
  flex-grow: 1;
}

/* Navbar Toggle Button */
.fixed-left .navbar-toggler {
  background-color: #023047; /* Dark background to match the navbar */
  border: none;
  color: #fb8500;
  font-size: 20px;
  position: absolute;
}

.fixed-left .navbar-toggler-icon {
  background-color: #fb8500;
}

/* Expanded Navbar */
.fixed-left .navbar-collapse {
  position:absolute;
  top: 70px;
  padding-top: 0px;
  padding-right: 0px;
  background-color: #023047; /* Dark background for expanded navbar */
}

.navbar-toggler {
  background-color: #023047; /* Dark background to match the navbar */
  border: none;
  color: #fb8500;
  font-size: 20px;
  position: fixed;
  top: 10;
  padding: 0;
  margin: 0;
}

.navbar-toggler-icon {
  background-color: #fb8500;
}

/* Expanded Navbar */
.navbar-collapse {
  position:absolute;
  top: 15px;
  left: 50px;
  padding-top: 0px;
  padding-right: 0px;
  background-color: #023047; /* Dark background for expanded navbar */
}

.fixed-left .navbar-collapse {
  position:absolute;
  top: 70px;
  left: 10px;
  padding-top: 0px;
  padding-right: 0px;
  background-color: #023047; /* Dark background for expanded navbar */
}

/* Layout Helpers */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-4 {
  flex: 1;
  padding: 10px;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.double-spaced {
  line-height: 2;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding-top: 120px;
  }

  .container {
    padding: 20px;
  }

  p {
    font-size: 16px;
  }

  .footer h3 {
    font-size: 18px;
  }

  .footerP {
    font-size: 14px;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .footer-container div {
    margin: 10px 0;
  }

  .social-buttons {
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .social-buttons .social-icon img {
    width: 20px;
    height: 20px;
  }

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #343a40;
    display: flex;
    justify-content: center;
  }

  .navbar-brand img {
    height: 0px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-nav .nav-item a {
    color: white;
    font-size: 16px;
  }

  .projects-page {
    margin-left: 0px;
    width: 100%;
    padding: 50px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }

  .projects-page .container {
    margin-top: 20px;
    padding: 10px;
  }

  .projects-page .fixed-left {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 70px;
      padding-top: 0px;
      padding-bottom: 0px;
      z-index: 1000;
    }
  
  .projects-page .project-entries-container {
    grid-template-columns: repeat(auto-fill, minmax(25px, 25px));
    display: block;
  }

  /* Navbar Toggle Button */
.fixed-left .navbar-toggler {
  background-color: #023047; /* Dark background to match the navbar */
  border: none;
  color: #fb8500;
  font-size: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
}

  .navbar-toggler {
    background-color: #023047; /* Dark background to match the navbar */
    border: none;
    color: #fb8500;
    font-size: 20px;
    position: absolute;
    top: 10;
  }

  .navbar-collapse {
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: #023047; /* Dark background for expanded navbar */
  }

  .navbar-toggler-icon {
    background-color: #fb8500;
  }

  /* Expanded Navbar */
  .fixed-left .navbar-collapse {
    position: fixed;
    left: 0px;
    background-color: #023047; /* Dark background for expanded navbar */
  }

  .project-card {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .social-buttons {
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .social-buttons .social-icon {
    margin-top: 8px;
  }

  .navbar {
    flex-direction: column;
    padding: 10px 15px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }
}