/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #023047;
  background-color: #8ecae6;
  font-family: 'Klavika-web', sans-serif;
  font-size: 20px;
}

.container {
  flex: 1;
  padding: 20px;
  z-index: 100;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.footerP {
  margin: 0;
}

/* Footer Styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container div {
  flex: 1;
  margin: 0 10px;
}

.footer {
  background-color: #023047;
  padding: 20px;
  text-align: left;
  color: #fb8500;
  position: relative;
  width: 100%;
  z-index: 900;
}

/* Social Media Buttons */
.social-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.social-buttons .social-icon {
  margin-left: 10px;
}

.social-buttons .social-icon img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 2px solid white;
  background-color: #023047;
  transition: all 0.3s ease-in-out;
}

.social-buttons .social-icon img:hover {
  transform: scale(1.1);
  border-color: #fb8500;
  background-color: #fb8500;
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #023047;
  width: 100%;
}

.navbar-brand img {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Projects Page Styles */
.projects-page {
  display: flex;
  margin-left: 250px;
  width: calc(100% - 250px);
}

.projects-page .container {
  flex: 1;
  margin-top: 30px;
}

/* Projects Navbar */
.projects-page .fixed-left {
  position: fixed;
  top: 0px;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  padding-top: 100px;
  background-color: #343a40;
  border-right: 2px solid #444;
  z-index: 102;
}

.projects-page .ProjectNavbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projects-page .ProjectNav-item {
  margin-bottom: 15px;
}

.projects-page .ProjectNav-link {
  display: block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-page .ProjectNav-link:hover {
  background-color: #495057;
  color: #fff;
}

/* Adjust margin-left only on the projects page */
.projects-page body {
  margin-left: 250px;
  padding-top: 70px;
}

/* Scrollable Project Entries */
.projects-page .project-entries-container {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  gap: 10px;
  padding: 0;
  box-sizing: border-box;
  grid-auto-rows: minmax(250px, auto);
}

/* Project Card Styles */
.project-card {
  text-align: center;
  border: 2px solid #023047;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Project Card Image */
.project-card img {
  width: 90%;
  margin-top: 10px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Project Card Text */
.project-card p {
  font-size: 16px;
  color: #0c3d55;
  margin-top: 10px;
  flex-grow: 1;
}

/* Project Entry */
.project-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Layout Helpers */
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-4 {
  flex: 1;
  padding: 10px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .project-card {
    margin-right: 0;
  }

  .col-sm-4 {
    flex: 1 0 33.33%;
  }

  .projects-page .container {
    margin-top: 20px;
  }

  .project-card p {
    font-size: 14px;
  }

  .project-entry {
    align-items: center;
    justify-content: center;
  }

  .project-image {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding-top: 60px;
  }

  .container {
    flex: 1;
    padding: 20px;
    position: relative;
    z-index: 0;
  }

  p {
    font-size: 16px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container div {
    margin: 10px 0;
  }

  .social-buttons {
    justify-content: center;
  }

  .social-buttons .social-icon img {
    width: 30px;
    height: 30px;
  }

  .navbar-brand img {
    max-height: 100px;
    max-width: 100px;
  }
}

@media (max-width: 576px) {
  .footer-container {
    flex-direction: column;
  }

  .footer {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    z-index: 101;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 5px 0;
  }
}
