<div class="footer-container" style="display: flex; justify-content: space-between; padding: 4px;">
  
  <div>
    <h3>Contact me</h3>
    <p class="footerP"><i class="fas fa-envelope"></i> albertomcwirter@gmail.com</p>
    <p class="footerP"><i class="fas fa-phone"></i> 4372194232</p>
    <p class="footerP"><i class="fas fa-map-marker-alt"></i> 1825 Finch Ave West, Toronto, M3N 1M7, Canada</p>
    <ul style="list-style-type: none; padding: 0; margin-top: 10px; margin-bottom: 10px; display: flex; gap: 15px;">
      <li><a href="https://github.com/xmen12cc" target="_blank" style="font-size: 24px; color: #ffffff;"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/alberto-mcwhirter-javier-64413078/" target="_blank" style="font-size: 24px; color: #0077b5;"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://www.facebook.com/mcwhirterjavier/" target="_blank" style="font-size: 24px; color: #4267B2;"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://x.com/albertomcwhirte" target="_blank" style="font-size: 24px; color: #1DA1F2;"><i class="fab fa-x"></i></a></li>
    </ul>
    <p class="footerP">© 2024 Alberto Mcwhirter Javier. All Rights Reserved.</p>
  </div>
  
  <div style="width: 50%; height: 200px;">
    <!-- Google Maps Embed -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.591066431732!2d-79.51446762323025!3d43.75792297109744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b31d250348373%3A0x6688cecc15012a9f!2s1825%20Finch%20Ave%20W%2C%20North%20York%2C%20ON%20M3N%201M7%2C%20Canada!5e1!3m2!1sen!2sdo!4v1734837752020!5m2!1sen!2sdo" width="250px" height="250px" style="border:0; margin-left: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Optional: For better performance, place the scripts just before the closing </body> tag -->

<script src="\js\custom.js"></script>