<div class="footer-container">
  <div>
    <h3>Copyright</h3>
    <p class="footerP">Alberto Mcwhirter Javier</p>
    <p class="footerP">2024-11-16</p>
    <p class="footerP">Game Dev portfolio</p>
  </div>

  <div>
    <h3>Contact me</h3>
    <p class="footerP">albertomcwirter@gmail.com</p>
    <p class="footerP">4372194232</p>
    <p class="footerP">1825 Finch Ave West, Toronto, M3N 1M7, Canada</p>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Optional: For better performance, place the scripts just before the closing </body> tag -->

<script src="\js\custom.js"></script>