<!-- Alberto Mcwhirter-Javier
2023-06-18
Student number: 301203948
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="scripts" href="/index.js">
    <link rel="scripts" href="/WebDev/public/js/bootstrap.js">
    <title>Express portfolio</title>
</head>
<body >
