<div class="header">
    <img src="/images/Logo.PNG" alt="Logo" height="200px" width="200px">
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li> <a href="/contact">Contact</a></li>
        <li> <a href="/services">Services</a></li>
      </ul>
    </nav>
  </div>
