<div class="header">
  <!-- Navbar Button for Toggle Inside the Vertical Navbar -->
  <!-- Collapsing Navbar Inside the Vertical Navbar -->
  <nav class="navbar navbar-dark bg-dark flex-column fixed-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#projectNavbar" aria-controls="projectNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="projectNavbar">
      <ul class="ProjectNavbar-nav flex-column">
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects">Overview</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/project1">The Eternal City</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/project2">Puzzle Mania Online</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/project3">MyThirdPersonShooter</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/project4">Dungeon Master</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
