
  <nav class="navbar navbar-dark bg-dark flex-column fixed-left vh-100">
    <ul class="ProjectNavbar-nav flex-column">
      <li class="ProjectNav-item">
        <a class="ProjectNav-link" href="/projects">Overview</a>
      </li>
      <li class="ProjectNav-item">
        <a class="ProjectNav-link" href="/projects/project1">The Eternal City</a>
      </li>
      <li class="ProjectNav-item">
        <a class="ProjectNav-link" href="/projects/project2">Puzzle Mania Online</a>
      </li>
      <li class="ProjectNav-item">
        <a class="ProjectNav-link" href="/projects/project3">MyThirdPersonShooter</a>
      </li>
      <li class="ProjectNav-item">
        <a class="ProjectNav-link" href="/projects/project4">Dungeon Master</a>
      </li>
    </ul>
  </nav>

