<div class="header">
  <!-- Navbar Button for Toggle Inside the Vertical Navbar -->
  <!-- Collapsing Navbar Inside the Vertical Navbar -->
  <nav class="navbar navbar-dark bg-dark flex-column fixed-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#projectNavbar" aria-controls="projectNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="projectNavbar">
      <ul class="ProjectNavbar-nav flex-column">
        <br>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projectsOverview">Overview</a>
        </li>
        <h6>IT Projects:</h6><br>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/ITProjects">IT Projects Collection</a>
        </li>
        <br><h6>Game Dev Projects:</h6>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/TheEternalCity">The Eternal City</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/PuzzleMania">Puzzle Mania Online</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/MyThirdPersonShooter">MyThirdPersonShooter</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/DungeonMaster">Dungeon Master</a>
        </li>
        <li class="ProjectNav-item">
          <a class="ProjectNav-link" href="/projects/IdleSpaceRockMiner">Idle Space Rock Miner</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
