<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About Alberto</h1>
                <p class="double-spaced">Hello there, I am unsure if you got here by choice or if I forced you to get here, but since you are already here I'm obligated to tell you a bit more about myself.

                My name is Alberto Mcwhirter-Javier and I am an aspiring software developer, specifically in the field of game development, I am currently enrolled in semester 6 of Game development at Centennial College, I am always eager to learn new things and improve myself bit by bit every day.
                </p>
                <h4>Things I enjoy doing in my free time</h4>
                <ul>
                    <li>Play Videogames (obiously)</li>
                    <li>Watch Anime / Movies / Series</li>
                    <li>Create new things, be it physical or digital</li>
                    <li>Learn about Science, Programming, Computer Hardware/Software and many more Tech-related stuff and just learning in general, lately I have found an interest in Mechanics and auto functionality.</li>
                </ul>
                <p class="double-spaced">If you havent gotten my Resume by now (Which I would be shocked you havent), here it is:</p>
                <p><a href="/pdf/myresume.pdf" class="btn btn-primary" download>My Resume</a></p>
            </div>
            <div class="col-md-6">
                <img src="/images/Me.PNG" alt="Me" class="img-fluid rounded-circle" style="max-height: 200px; max-width: 200px; display: block; margin: 0 auto;">
                <p class="double-spaced">This is a picture of me, that I took in a Toronto Park and I think I look quite slick here haha.</p>
                <br>
                <H4>Some things you probably didn't needed to know:</H4>
                <ul>
                    <li>I could probably beat you in any videogame you want.</li>
                    <li>I have watched One Piece around 3 times (3000 episodes).</li>
                    <li>Have been using computers since I can remember.</li>
                    <li>I currently own 2 lovely cats: Coco and Yami.</li>
                </ul>
                
        </div>
    </div>

</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
