<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome to the Home page!</h2>
                    <p>Use the navigation bar to be redirected to the other pages.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Mission statement</h2>
                    <p>My personal mission is to continuously learn and grow as a software engineer, while using my skills and knowledge to create innovative and user-focused solutions that make a positive impact on people's lives. I am committed to staying up-to-date with the latest technologies and best practices, and to collaborating with others to achieve common goals. I prioritize attention to detail and quality assurance in my work, ensuring that the software I create is thoroughly tested and free of bugs and errors. I am dedicated to creating intuitive and user-friendly interfaces that enhance the user experience, and to managing my time efficiently to meet deadlines and deliver high-quality software on time. Ultimately, my goal is to use my passion for software engineering to make a meaningful difference in the world.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</div>

</body>

</html>
