<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>

    <main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Hey there!</h2>
                <p class="double-spaced">Welcome to my small piece of the internet, I'm Alberto, a huge computer and mobile game developer enthusiast, In my spare time you'll frequently find me creating fun and interactive games or learning new strategies to do so, but anyways. Please use the navigation bar to be redirected to the other pages, specially the <a href="/projects">projects page</a> is loaded with all my fun projects !</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>My YouTube Channel</h4>
                <div class="iframe-container">
                    <iframe src="https://www.youtube.com/embed/fnLgBRQ9zHU" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  
                <p class="double-spaced">There you will find any tutorials/dev-blogs I have uploaded.</p>

                <h2>Mission statement</h2>
                <p class="double-spaced">My personal mission is to continuously learn and grow as a software engineer, while using my skills and knowledge to create innovative and user-focused solutions that make a positive impact on people's lives. I am committed to staying up-to-date with the latest technologies and best practices, and to collaborating with others to achieve common goals. I prioritize attention to detail and quality assurance in my work, ensuring that the software I create is thoroughly tested and free of bugs and errors. I am dedicated to creating intuitive and user-friendly interfaces that enhance the user experience, and to managing my time efficiently to meet deadlines and deliver high-quality software on time. Ultimately, my goal is to use my passion for software engineering to make a meaningful difference in the world.</p>

                <br>
                <p>In case this site didn't answer all your questions or you'd simply like to contact me, hop over to the <a href="/contact">contact page</a> and send me a message!</p>
            </div>
        </div>
    </div>
    </main>


    <footer class="footer">
        <%- include('../common/footer') %>
    </footer>
</body>
</html>
