<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>

    <main>
    <div class="container">
        <!-- About Me Content -->
        <img src="/images/Me.PNG" alt="Me" class="img-fluid rounded-circle" style="max-height: 400px; max-width: 400px;">
        <p>Hello, my name is Alberto and I am a developing software engineer, specifically in the field of game dev. I am currently enrolled in semester 3 of game dev at Centennial College. I am always eager to improve my skills and learn new things. In my free time, I usually watch anime or play videogames. I also enjoy building computers.</p>
        
        <h3>My resume</h3>
        <p><a href="/pdf/myresume.pdf" class="btn btn-primary" download>Get the PDF</a></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Welcome to the Home page! Use the navigation bar to be redirected to the other pages.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Mission statement</h2>
                <p>My personal mission is to continuously learn and grow as a software engineer, while using my skills and knowledge to create innovative and user-focused solutions that make a positive impact on people's lives. I am committed to staying up-to-date with the latest technologies and best practices, and to collaborating with others to achieve common goals. I prioritize attention to detail and quality assurance in my work, ensuring that the software I create is thoroughly tested and free of bugs and errors. I am dedicated to creating intuitive and user-friendly interfaces that enhance the user experience, and to managing my time efficiently to meet deadlines and deliver high-quality software on time. Ultimately, my goal is to use my passion for software engineering to make a meaningful difference in the world.</p>
            </div>
        </div>
    </div>
    </main>


    <footer class="footer">
        <%- include('../common/footer') %>
    </footer>
</body>
</html>
