<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container IT-projects">
        <h2>🖥️ Information Technology Projects 🖥️</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="project">
                    <!--<img src="placeholder-image.jpg" alt="osTicket Project" class="project-img"> -->
                    <h3>osTicket: Creating a Ticketing System for Help Desk</h3>
                    <ul>
                        <li><a href="https://github.com/xmen12cc/osticket-prereqs">osTicket: Prerequisites and Installation</a></li>
                        <li><a href="https://github.com/xmen12cc/osTicket-post-install-config">osTicket: Post-Installation Configuration</a></li>
                        <li><a href="https://github.com/xmen12cc/ticket-lifecycle">osTicket: Ticket Lifecycle Examples</a></li>
                    </ul>
                </div>
                <div class="project">
                    <!--<img src="placeholder-image.jpg" alt="Microsoft Azure Project" class="project-img"> -->
                    <h3>Microsoft Azure</h3>
                    <ul>
                        <li><a href="https://github.com/xmen12cc/configure-ad">Setting Up Active Directory using Azure VMs</a></li>
                        <li><a href="https://github.com/xmen12cc/azure-network-protocols">Network Security Groups (NSGs) and Inspecting Network Protocols with Wireshark</a></li>
                        <li><a href="https://github.com/xmen12cc/VMSetupScriptAzure">How to make an automated VM Setup Script in Azure</a></li>
                    </ul>
                </div>
                <div class="project">
                    <!--<img src="placeholder-image.jpg" alt="VPN Project" class="project-img"> >-->
                    <h3>Virtual Private Network</h3>
                    <ul>
                        <li><a href="https://github.com/xmen12cc/Setting-Up-A-VPN">VPN Setup in Virtual Machine</a></li>
                    </ul>
                </div>
                <div class="project">
                    <!--<img src="placeholder-image.jpg" alt="Troubleshooting Guides" class="project-img"> -->
                    <h3>Troubleshooting Guides</h3>
                    <ul>
                        <li><a href="https://github.com/xmen12cc/PingTestingScript">Basic Script for Ping Testing</a></li>
                        <li><a href="https://github.com/xmen12cc/DiskSpaceCheckerScript">Disk Space Checker Script</a></li>
                        <li><a href="https://github.com/xmen12cc/PasswordStrengthChecker">Password Strength Checker</a></li>
                        <li><a href="https://github.com/xmen12cc/SimpleHTMLSupportPage">Simple Html troubleshooting page</a></li>
                        <li><a href="https://github.com/xmen12cc/RemoteDesktopTroubleshooting">Remote Desktop Connection Troubleshooting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
