<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>

    <div class="Form">
        <p style="font-size: larger"> Login to website </p>
        <form action="/route/login" method="POST">
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Submit">
          </form>
        </div>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>
