<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container">
        <h1>MyThirdPersonShooter</h1>
        <div class="row">
                <div class="col-sm-4">
                    <h3>Gameplay</h3>
                    <iframe src="https://www.youtube.com/embed/" class="responsive-iframe" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                    <h2>Game description:</h2>
                    <p>MyThirdPersonShooter is a third person shooter game in where you are placed in a map, in this case desert-themed and your goal is to defeat the enemy team, alongside your own team, you will have to be battle ready to do so as the enemies are highly skilled and can kill you rapidly if you arent nimble enough, watch out and have fun!</p>
                </div>
                    
                <div class="col-sm-4">
                    <h2>Game mechanics and making</h2>
                    <p>MyThirdPersonShooter, as previously mentioned is a third person shooter game, where you have to fight agaisnt enemy AI alongside your own AI teammates, the game doesnt end until either team has been defeated, but your game would end if you get killed, so it is very important to watch your movement and not get into the enemy's sight or else you are toast.</p>
                    <h3>Controls: </h3>
                    <ul>
                        <li>Move around with WASD</li>
                        <li>Press SpaceBar to Jump</li>
                        <li>Press Shift to Sprint.</li>
                        <li>Press Left mouse to Aim</li>
                        <li>Press Right mouse to Shoot</li>
                        <li>Press R to reload</li>
                        <li>Press Esc to open the menu and pause the game.</li>
                    </ul>
                </div>
        </div>
    </div>

</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
