<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container">
        <h1>Projects page</h1>
        <h2>Previous projects:</h2>


</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
