<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    
    <h1>Projects page</h1>
    <h2>Previous projects:</h2>

    <img src="/Images/tree.png" alt="" height="200px" width="200px">
    <p>This was a tree I had to model using blender for a group project on 3d assets.</p>

    <img src="/Images/computer.png" alt="" height="200px" width="200px">
    <p>This is my personal computer (PC) I built myself and it works very well</p>

    <img src="/Images/UnityGame.png" alt="" height="200px" width="200px">
    <p>This is a 2d game I developed along classmates, this was a group project and I was mainly in charge of asset design but also did other things such as coding.</p>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>
