<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
    </header>
    <%- include('../common/ProjectHeader') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Scrollable container for project entries -->
                <div class="project-entries-container">
                    <!-- Project Entries -->
                    <div class="">
                        <div class="project-card">
                            <img src="/images/Wireshark.png" alt="" class="img-fluid">
                            <p>Inspecting Traffic Between Azure Virtual Machines using Wireshark.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/AutomatedVMSetup.png" alt="" class="img-fluid">
                            <p>Automated VM setup script for Azure.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/AdventureMadness.png" alt="" class="img-fluid">
                            <p>Adventure Madness 2d platformer game on Unity.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/PuzzleMania.PNG" alt="" class="img-fluid">
                            <p>Puzzle Mania Online game on ue5.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/PasswordScript.PNG" alt="" class="img-fluid">
                            <p>Password Strength checker script for IT.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/OsTicketInstall.PNG" alt="" class="img-fluid">
                            <p>Setting up OsTicket for IT.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/MyThirdPersonShooter.png" alt="" class="img-fluid">
                            <p>MyThirdPersonShooter game in ue5.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/DungeonMaster.png" alt="" class="img-fluid">
                            <p>Dungeon Master game in ue5.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/IdleSpaceRockMiner.png" alt="" class="img-fluid">
                            <p>Idle Space Rock Miner android game in ue5.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/TheEternalCity.png" alt="" class="img-fluid">
                            <p>The Eternal City game in ue5.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/DiskCheckerScript.PNG" alt="" class="img-fluid">
                            <p>Disk testing script for IT troubleshooting.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/PingBatFile.PNG" alt="" class="img-fluid">
                            <p>Ping testing script for IT troubleshooting.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/tree.png" alt="" class="img-fluid">
                            <p>This was a tree I had to model using Blender for a group project on 3D assets.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/computer.png" alt="" class="img-fluid">
                            <p>This is my personal computer (PC) I built myself and it works very well.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/UnityGame.png" alt="" class="img-fluid">
                            <p>This is a 2D game I developed along with classmates. It was a group project, and I was mainly in charge of asset design but also did other things such as coding.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="/images/WebPortfolio.png" alt="" class="img-fluid">
                            <p>This website you are on right now! Coded by me.</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="project-card">
                            <img src="" alt="" class="img-fluid">
                            <p>Always a Work in progress, many more projects are always coming.</p>
                        </div>
                    </div>
                    <!-- Add more project entries as needed -->
                     
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
