<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container">
        <h1>Dungeon Master</h1>
        <div class="row">
                <div class="col-sm-4">
                    <h3>Gameplay</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                    <h2>Game description:</h2>
                    <p>Dungeon Master is a top-down game in which you are spawned in a deserted island and your goal is to survive the infinite coming of the aggressive island monsters, what a coincidence you just had to land on the only island with monsters in the whole world, anyways you have to get stronger fast to thrive here.</p>
                </div>
                    
                <div class="col-sm-4">
                    <h2>Game mechanics and making</h2>
                    <p>Dungeon Master, as previously mentioned is a top-down RPG/VampireSurvivor-like game in which you have to defeat the infinite horde of enemies, getting levels and upgrading your weapon/skills while doing so, whenever you reach a threshold a boss would spawn and if you defeat it you can advance further, until the final boss of the level is invoked and you can test your luck trying to defeat him. Your main way of dealing damage is your weapon, which auto fires in front of you, when your projectiles hit enemies they take damage, if their hp goes to 0 they die.</p>
                    <h3>Controls: </h3>
                    <ul>
                        <li>Move around with WASD</li>
                        <li>Press LeftMouse to Select a level-up upgrade</li>
                        <li>Press Shift to Sprint.</li>
                        <li>Press Q to fire your 1st ability</li>
                        <li>Press W to fire your 2nd ability</li>
                        <li>Press E to fire your 3rd ability</li>
                        <li>Press R to fire your ultimate ability</li>
                        <li>Press Esc to open the menu and pause the game.</li>
                    </ul>
                </div>
        </div>
    </div>

</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
