<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container">
        <h1>Puzzle Mania Online</h1>
        <div class="row">
                <div class="col-sm-4">
                    <h3>Gameplay</h3>
                    <iframe src="https://www.youtube.com/embed/" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                    <h2>Game description:</h2>
                    <p>Puzzle Mania Online is a multiplayer game in which you are spawned into a lobby box/room in which you can select what gamemode you wish to play, there are several different modes that vary vastly from each other, the goal of the game is to defeat your enemy and win (and have fun), this is a pvp game but more casual-oriented.</p>
                </div>
                    
                <div class="col-sm-4">
                    <h2>Game mechanics and making</h2>
                    <p>Puzzle Mania Online, as previously mentioned is a PvP online multiplayer game where you have to fight your enemy in a puzzle/minigame setting, for instance there are 3 gamemodes right now, RedLightGreenLight, TicTacToe and FallingFloors, each having their own unique gamestyle and game rules, this game is replicated so it is online ready, and you can't play it alone.</p>
                    <h3>Controls: </h3>
                    <ul>
                        <li>Move around with WASD</li>
                        <li>Press SpaceBar to Jump</li>
                        <li>Press H to heal.</li>
                        <li>Press E to enter selected gamemode (in lobby).</li>
                    </ul>
                </div>
        </div>
    </div>

</div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
