<%- include('../common/head') %>
<body class="projects-page">
    <header>
        <%- include('../common/header') %>
        <%- include('../common/ProjectHeader') %>
    </header>
    
    <div class="container">
        <h1>The Eternal City</h1>
        <div class="row">
                <div class="col-sm-4">
                    <h3>Gameplay</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pObl4Z-AGto" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                    <h2>Game description:</h2>
                    <p>The Eternal City is a game where you are placed in the majestic world of fantasy that is The City, this being the name of the country it takes place in, upon the opening of the breach, this world has been infested with demons and corrupted people. Your goal is to liberate the people of The City and defeat all evil, vanquishing them from existance and regaining your world.</p>
                </div>
                    
                <div class="col-sm-4">
                    <h2>Game mechanics and making</h2>
                    <p>The Eternal City is a top-down RTS style game in which you can select units and command them in battle, at the start of the game you only have access to 1 character, which will become your primary character, you can select him and attack demons in your path, levelling up and getting stronger. You will need this strenght to conquer the higher demons and higher-ups on The City, here is a list of the controls of the game.</p>
                    <h3>Controls: </h3>
                    <ul>
                        <li>Press LeftMouseClick on top of a unit to select it.</li>
                        <li>Press RightMouseButton to move the selected unit, if you select an enemy you attack it.</li>
                        <li>Press H to heal.</li>
                        <li>Press F to follow the selected character.</li>
                        <li>Hover mouse on the edge of the screen to move the camera.</li>
                        <li>Press Q or E to rotate the camera.</li>
                    </ul>
                </div>
        </div>
    </div>

    </div>
</body>
<footer class="footer">
    <%- include('../common/footer') %>
</footer>
</html>
