<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    
    <h1>Services</h1>
    <h2>Services I offer:</h2>
    <li>General programming</li>
    <li>Web development</li>
    <li>Game scripts</li>
    <li>General game programming</li>
    <li>General game design</li>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</body>
</html>