<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    
    <div class="container">
        <h1>Services</h1>
        <h2>Services I offer:</h2>
        <ul class="list-group">
            <li class="list-group-item">General programming</li>
            <li class="list-group-item">Web development</li>
            <li class="list-group-item">Game scripts</li>
            <li class="list-group-item">General game programming</li>
            <li class="list-group-item">General game design</li>
        </ul>
    </div>

    <footer>
        <%- include('../common/footer') %>
    </footer>
</div>
</body>
</html>
